<a href="https://colab.research.google.com/github/wel51x/Python-for-Data-Analysis/blob/master/ch03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHAPTER 3: Built-in Data Structures, Functions, and Files
This chapter discusses capabilities built into the Python language that will be used
ubiquitously throughout the book. While add-on libraries like pandas and NumPy
add advanced computational functionality for larger datasets, they are designed to be
used together with Python’s built-in data manipulation tools.
We’ll start with Python’s workhorse data structures: tuples, lists, dicts, and sets. Then,
we’ll discuss creating your own reusable Python functions. Finally, we’ll look at the
mechanics of Python file objects and interacting with your local hard drive.

## 3.1 Data Structures and Sequences
Python’s data structures are simple but powerful. Mastering their use is a critical part
of becoming a proficient Python programmer.

### Tuple
A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to
create one is with a comma-separated sequence of values:

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

When you’re defining tuples in more complicated expressions, it’s often necessary to
enclose the values in parentheses, as in this example of creating a tuple of tuples:

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

You can convert any sequence or iterator to a tuple by invoking tuple:

In [3]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

Elements can be accessed with square brackets [] as with most other sequence types.


As in C, C++, Java, and many other languages, sequences are 0-indexed in Python:

In [4]:
tup[0]

's'

While the objects stored in a tuple may be mutable themselves, once the tuple is created
it’s not possible to modify which object is stored in each slot:

In [5]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: ignored

If an object inside a tuple is mutable, such as a list, you can modify it in-place:

In [6]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

You can concatenate tuples using the + operator to produce longer tuples:

In [7]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

Multiplying a tuple by an integer, as with lists, has the effect of concatenating together
that many copies of the tuple:

In [8]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

Note that the objects themselves are not copied, only the references to them.

#### Unpacking tuples
If you try to assign to a tuple-like expression of variables, Python will attempt to
unpack the value on the righthand side of the equals sign:

In [9]:
tup = (4, 5, 6)
a, b, c = tup
b

5

Even sequences with nested tuples can be unpacked:

In [10]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

Using this functionality you can easily swap variable names, a task which in many
languages might look like:

tmp = a

a = b

b = tmp

But, in Python, the swap can be done like this:

In [12]:
a, b = 1, 2
print(a, b)
b, a = a, b
a, b

1 2

(2, 1)

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [13]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

Another common use is returning multiple values from a function. I’ll cover this in
more detail later.

The Python language recently acquired some more advanced tuple unpacking to help
with situations where you may want to “pluck” a few elements from the beginning of
a tuple. This uses the special syntax *rest, which is also used in function signatures
to capture an arbitrarily long list of positional arguments:

In [14]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a, b)
rest

1 2

[3, 4, 5]

This rest bit is sometimes something you want to discard; there is nothing special
about the rest name. As a matter of convention, many Python programmers will use
the underscore (_) for unwanted variables:

In [0]:
a, b, *_ = values

#### Tuple methods
Since the size and contents of a tuple cannot be modified, it is very light on instance
methods. A particularly useful one (also available on lists) is count, which counts the
number of occurrences of a value:

In [17]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List

In [0]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

In [0]:
gen = range(10)
gen
list(gen)

#### Adding and removing elements

In [0]:
b_list.append('dwarf')
b_list

In [0]:
b_list.insert(1, 'red')
b_list

In [0]:
b_list.pop(2)
b_list

In [0]:
b_list.append('foo')
b_list
b_list.remove('foo')
b_list

In [0]:
'dwarf' in b_list

In [0]:
'dwarf' not in b_list

#### Concatenating and combining lists

In [0]:
[4, None, 'foo'] + [7, 8, (2, 3)]

In [0]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

everything = []
for chunk in list_of_lists:
    everything = everything + chunk

#### Sorting

In [0]:
a = [7, 2, 5, 1, 3]
a.sort()
a

In [0]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

#### Binary search and maintaining a sorted list

In [0]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

#### Slicing

In [0]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

In [0]:
seq[3:4] = [6, 3]
seq

In [0]:
seq[:5]
seq[3:]

In [0]:
seq[-4:]
seq[-6:-2]

In [0]:
seq[::2]

In [0]:
seq[::-1]

### Built-in Sequence Functions

#### enumerate

i = 0
for value in collection:
   # do something with value
   i += 1

for i, value in enumerate(collection):
   # do something with value

In [0]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

#### sorted

In [0]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

#### zip

In [0]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

In [0]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

In [0]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

In [0]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

#### reversed

In [0]:
list(reversed(range(10)))

### dict

In [0]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

In [0]:
d1[7] = 'an integer'
d1
d1['b']

In [0]:
'b' in d1

In [0]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1

In [0]:
list(d1.keys())
list(d1.values())

In [0]:
d1.update({'b' : 'foo', 'c' : 12})
d1

#### Creating dicts from sequences

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [0]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

#### Default values

if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

value = some_dict.get(key, default_value)

In [0]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

#### Valid dict key types

In [0]:
hash('string')
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

In [0]:
d = {}
d[tuple([1, 2, 3])] = 5
d

### set

In [0]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

In [0]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [0]:
a.union(b)
a | b

In [0]:
a.intersection(b)
a & b

In [0]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

In [0]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

In [0]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [0]:
{1, 2, 3} == {3, 2, 1}

### List, Set, and Dict Comprehensions

[

result = []
for val in collection:
    if

In [0]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

dict_comp = {

set_comp = {

In [0]:
unique_lengths = {len(x) for x in strings}
unique_lengths

In [0]:
set(map(len, strings))

In [0]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

#### Nested list comprehensions

In [0]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [0]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

In [0]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [0]:
[[x for x in tup] for tup in some_tuples]

## Functions

def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

### Namespaces, Scope, and Local Functions

def func():
    a = []
    for i in range(5):
        a.append(i)

a = []
def func():
    for i in range(5):
        a.append(i)

In [0]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

### Returning Multiple Values

def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

return_value = f()

def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions Are Objects

In [0]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [0]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [0]:
clean_strings(states)

In [0]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [0]:
clean_strings(states, clean_ops)

In [0]:
for x in map(remove_punctuation, states):
    print(x)

### Anonymous (Lambda) Functions

def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

In [0]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [0]:
strings.sort(key=lambda x: len(set(list(x))))
strings

### Currying: Partial Argument Application

def add_numbers(x, y):
    return x + y

add_five = lambda y: add_numbers(5, y)

from functools import partial
add_five = partial(add_numbers, 5)

### Generators

In [0]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

In [0]:
dict_iterator = iter(some_dict)
dict_iterator

In [0]:
list(dict_iterator)

In [0]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [0]:
gen = squares()
gen

In [0]:
for x in gen:
    print(x, end=' ')

#### Generator expresssions

In [0]:
gen = (x ** 2 for x in range(100))
gen

def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [0]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

#### itertools module

In [0]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

### Errors and Exception Handling

In [0]:
float('1.2345')
float('something')

In [0]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [0]:
attempt_float('1.2345')
attempt_float('something')

In [0]:
float((1, 2))

In [0]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [0]:
attempt_float((1, 2))

In [0]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

#### Exceptions in IPython

In [10]: %run examples/ipython_bug.py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/home/wesm/code/pydata-book/examples/ipython_bug.py in <module>()
     13     throws_an_exception()
     14
---> 15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in calling_things()
     11 def calling_things():
     12     works_fine()
---> 13     throws_an_exception()
     14
     15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in throws_an_exception()
      7     a = 5
      8     b = 6
----> 9     assert(a + b == 10)
     10
     11 def calling_things():

AssertionError:

## Files and the Operating System

In [0]:
%pushd book-materials

In [0]:
path = 'examples/segismundo.txt'
f = open(path)

for line in f:
    pass

In [0]:
lines = [x.rstrip() for x in open(path)]
lines

In [0]:
f.close()

In [0]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [0]:
f = open(path)
f.read(10)
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

In [0]:
f.tell()
f2.tell()

In [0]:
import sys
sys.getdefaultencoding()

In [0]:
f.seek(3)
f.read(1)

In [0]:
f.close()
f2.close()

In [0]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

In [0]:
import os
os.remove('tmp.txt')

### Bytes and Unicode with Files

In [0]:
with open(path) as f:
    chars = f.read(10)
chars

In [0]:
with open(path, 'rb') as f:
    data = f.read(10)
data

In [0]:
data.decode('utf8')
data[:4].decode('utf8')

In [0]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

In [0]:
os.remove(sink_path)

In [0]:
f = open(path)
f.read(5)
f.seek(4)
f.read(1)
f.close()

In [0]:
%popd

## Conclusion