<a href="https://colab.research.google.com/github/wel51x/Python-for-Data-Analysis/blob/master/ch03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CHAPTER 3: Built-in Data Structures, Functions, and Files
This chapter discusses capabilities built into the Python language that will be used
ubiquitously throughout the book. While add-on libraries like pandas and NumPy
add advanced computational functionality for larger datasets, they are designed to be
used together with Python’s built-in data manipulation tools.
We’ll start with Python’s workhorse data structures: tuples, lists, dicts, and sets. Then,
we’ll discuss creating your own reusable Python functions. Finally, we’ll look at the
mechanics of Python file objects and interacting with your local hard drive.

## 3.1 Data Structures and Sequences
Python’s data structures are simple but powerful. Mastering their use is a critical part
of becoming a proficient Python programmer.

### Tuples
A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to
create one is with a comma-separated sequence of values:

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

When you’re defining tuples in more complicated expressions, it’s often necessary to
enclose the values in parentheses, as in this example of creating a tuple of tuples:

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

You can convert any sequence or iterator to a tuple by invoking tuple:

In [3]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

Elements can be accessed with square brackets [] as with most other sequence types.


As in C, C++, Java, and many other languages, sequences are 0-indexed in Python:

In [4]:
tup[0]

's'

While the objects stored in a tuple may be mutable themselves, once the tuple is created
it’s not possible to modify which object is stored in each slot:

In [5]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: ignored

If an object inside a tuple is mutable, such as a list, you can modify it in-place:

In [6]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

You can concatenate tuples using the + operator to produce longer tuples:

In [7]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

Multiplying a tuple by an integer, as with lists, has the effect of concatenating together
that many copies of the tuple:

In [8]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

Note that the objects themselves are not copied, only the references to them.

#### Unpacking tuples
If you try to assign to a tuple-like expression of variables, Python will attempt to
unpack the value on the righthand side of the equals sign:

In [9]:
tup = (4, 5, 6)
a, b, c = tup
b

5

Even sequences with nested tuples can be unpacked:

In [10]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

Using this functionality you can easily swap variable names, a task which in many
languages might look like:

tmp = a

a = b

b = tmp

But, in Python, the swap can be done like this:

In [12]:
a, b = 1, 2
print(a, b)
b, a = a, b
a, b

1 2

(2, 1)

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [13]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

Another common use is returning multiple values from a function. I’ll cover this in
more detail later.

The Python language recently acquired some more advanced tuple unpacking to help
with situations where you may want to “pluck” a few elements from the beginning of
a tuple. This uses the special syntax *rest, which is also used in function signatures
to capture an arbitrarily long list of positional arguments:

In [14]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a, b)
rest

1 2

[3, 4, 5]

This rest bit is sometimes something you want to discard; there is nothing special
about the rest name. As a matter of convention, many Python programmers will use
the underscore (_) for unwanted variables:

In [0]:
a, b, *_ = values

#### Tuple methods
Since the size and contents of a tuple cannot be modified, it is very light on instance
methods. A particularly useful one (also available on lists) is count, which counts the
number of occurrences of a value:

In [17]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### Lists
In contrast with tuples, lists are variable-length and their contents can be modified
in-place. You can define them using square brackets [] or using the list type function:

In [1]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
print("b_list =", b_list)
b_list[1] = 'peekaboo'
b_list

b_list = ['foo', 'bar', 'baz']

['foo', 'peekaboo', 'baz']

Lists and tuples are semantically similar (though tuples cannot be modified) and can
be used interchangeably in many functions.

The list function is frequently used in data processing as a way to materialize an
iterator or generator expression:

In [2]:
gen = range(10)
print("gen =", gen)
list(gen)

gen = range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements
Elements can be appended to the end of the list with the append method:

In [3]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

Using insert you can insert an element at a specific location in the list:

In [4]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

The insertion index must be between 0 and the length of the list, inclusive.

==>>insert is computationally expensive compared with append,
because references to subsequent elements have to be shifted internally
to make room for the new element. If you need to insert elements
at both the beginning and end of a sequence, you may wish
to explore collections.deque, a double-ended queue, for this purpose.

The inverse operation to insert is pop, which removes and returns an element at a
particular index:

In [6]:
b_list.pop(2)
b_list

['red', 'peekaboo', 'dwarf', 'foo']

Elements can be removed by value with remove, which locates the first such value and
removes it from the last:

In [7]:
b_list.append('foo')
print("b_list =", b_list)
b_list.remove('foo')
b_list

b_list = ['red', 'peekaboo', 'dwarf', 'foo', 'foo']

['red', 'peekaboo', 'dwarf', 'foo']

If performance is not a concern, by using append and remove, you can use a Python
list as a perfectly suitable “multiset” data structure.

Check if a list contains a value using the in keyword:

In [8]:
'dwarf' in b_list

True

The keyword not can be used to negate in:

In [9]:
'dwarf' not in b_list

False

==>> Checking whether a list contains a value is a lot slower than doing so with dicts and
sets (to be introduced shortly), as Python makes a linear scan across the values of the
list, whereas it can check the others (based on hash tables) in constant time.

#### Concatenating and combining lists

Similar to tuples, adding two lists together with + concatenates them:

In [10]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

If you have a list already defined, you can append multiple elements to it using the
extend method:

In [11]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

Note that list concatenation by addition is a comparatively expensive operation since
a new list must be created and the objects copied over. Using extend to append elements
to an existing list, especially if you are building up a large list, is usually preferable. Thus,

everything = []

for chunk in list_of_lists:

    everything.extend(chunk)

is faster than the concatenative alternative:

everything = []

for chunk in list_of_lists:

    everything = everything + chunk

#### Sorting

You can sort a list in-place (without creating a new object) by calling its sort
function:

In [12]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

sort has a few options that will occasionally come in handy. One is the ability to pass
a secondary sort key—that is, a function that produces a value to use to sort the
objects. For example, we could sort a collection of strings by their lengths:

In [13]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

Soon, we’ll look at the sorted function, which can produce a sorted copy of a general
sequence.

#### Binary search and maintaining a sorted list
The built-in bisect module implements binary search and insertion into a sorted list.
bisect.bisect finds the location where an element should be inserted to keep it sorted,
while bisect.insort actually inserts the element into that location:

In [15]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
print(bisect.bisect(c, 2))
print(bisect.bisect(c, 5))
print(bisect.insort(c, 6))
c

4
6
None

[1, 2, 2, 2, 3, 4, 6, 7]

==>> The bisect module functions do not check whether the list is sorted,
as doing so would be computationally expensive. Thus, using
them with an unsorted list will succeed without error but may lead
to incorrect results.

#### Slicing
You can select sections of most sequence types by using slice notation, which in its
basic form consists of start:stop passed to the indexing operator []:

In [16]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

Slices can also be assigned to with a sequence:

In [17]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

While the element at the start index is included, the stop index is not included, so
that the number of elements in the result is stop - start.

Either the start or stop can be omitted, in which case they default to the start of the
sequence and the end of the sequence, respectively:

In [18]:
seq[:5], seq[3:]

([7, 2, 3, 6, 3], [6, 3, 5, 6, 0, 1])

Negative indices slice the sequence relative to the end:

In [19]:
seq[-4:], seq[-6:-2]

([5, 6, 0, 1], [6, 3, 5, 6])

A step can also be used after a second colon to, say, take every other element:

In [20]:
seq[::2]

[7, 3, 3, 6, 1]

A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:

In [21]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions
Python has a handful of useful sequence functions that you should familiarize yourself
with and use at any opportunity.

#### enumerate

It’s common when iterating over a sequence to want to keep track of the index of the
current item. A do-it-yourself approach would look like:

i = 0

for value in collection:

    ...do something with value...
   
    i += 1

Since this is so common, Python has a built-in function, enumerate, which returns a
sequence of (i, value) tuples:

for i, value in enumerate(collection):

    ...do something with value...

In [22]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

#### sorted
The sorted function returns a new sorted list from the elements of any sequence:

In [23]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [24]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

The sorted function accepts the same arguments as the sort method on lists.

#### zip
zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a
list of tuples:

In [25]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

zip can take an arbitrary number of sequences, and the number of elements it produces
is determined by the shortest sequence:

In [26]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

A very common use of zip is simultaneously iterating over multiple sequences, possibly
also combined with enumerate:

In [27]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

Given a “zipped” sequence, zip can be applied in a clever way to “unzip” the
sequence. Another way to think about this is converting a list of rows into a list of
columns. The syntax, which looks a bit magical, is:

In [28]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Curt', 'Schilling')]
first_names, last_names = zip(*pitchers)
first_names, last_names

(('Nolan', 'Roger', 'Curt'), ('Ryan', 'Clemens', 'Schilling'))

#### reversed
reversed iterates over the elements of a sequence in reverse order:

In [29]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Keep in mind that reversed is a generator (to be discussed in some more detail later),
so it does not create the reversed sequence until materialized (e.g., with list or a for
loop).

### dict
dict is likely the most important built-in Python data structure. A more common
name for it is hash map or associative array. It is a flexibly sized collection of key-value
pairs, where key and value are Python objects. One approach for creating one is to use
curly braces {} and colons to separate keys and values:

In [30]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

You can access, insert, or set elements using the same syntax as for accessing elements
of a list or tuple:

In [32]:
d1[7] = 'an integer'
d1, d1['b']

({7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}, [1, 2, 3, 4])

You can check if a dict contains a key using the same syntax used for checking
whether a list or tuple contains a value:

In [33]:
'b' in d1

True

You can delete values either using the del keyword or the pop method (which simultaneously
returns the value and deletes the key):

In [34]:
d1[5] = 'some value'
print("d1 =", d1)
d1['dummy'] = 'another value'
print("\nd1 =", d1)
del d1[5]
print("\nd1 =", d1)
ret = d1.pop('dummy')
ret, d1

d1 = {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

d1 = {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}

d1 = {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}

('another value', {7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]})

The keys and values method give you iterators of the dict’s keys and values, respectively.
While the key-value pairs are not in any particular order, these functions output
the keys and values in the same order:

In [35]:
list(d1.keys()), list(d1.values())

(['a', 'b', 7], ['some value', [1, 2, 3, 4], 'an integer'])

You can merge one dict into another using the update method:

In [36]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{7: 'an integer', 'a': 'some value', 'b': 'foo', 'c': 12}

The update method changes dicts in-place, so any existing keys in the data passed to
update will have their old values discarded.

#### Creating dicts from sequences
It’s common to occasionally end up with two sequences that you want to pair up
element-wise in a dict. As a first cut, you might write code like this:

mapping = {}

for key, value in zip(key_list, value_list):

    mapping[key] = value

In [37]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

It’s very common to have logic like:

if key in some_dict:

    value = some_dict[key]
else:

    value = default_value
    
Thus, the dict methods get and pop can take a default value to be returned, so that
the above if-else block can be written simply as:

value = some_dict.get(key, default_value)

get by default will return None if the key is not present, while pop will raise an exception.
With setting values, a common case is for the values in a dict to be other collections,
like lists. For example, you could imagine categorizing a list of words by their
first letters as a dict of lists:

In [38]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

The setdefault dict method is for precisely this purpose. The preceding for loop
can be rewritten as:

for word in words:

    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

The built-in collections module has a useful class, defaultdict, which makes this
even easier. To create one, you pass a type or function for generating the default value
for each slot in the dict:

from collections import defaultdict

by_letter = defaultdict(list)

for word in words:

    by_letter[word[0]].append(word)

#### Valid dict key types
While the values of a dict can be any Python object, the keys generally have to be
immutable objects like scalar types (int, float, string) or tuples (all the objects in the
tuple need to be immutable, too). The technical term here is hashability. You can
check whether an object is hashable (can be used as a key in a dict) with the hash
function:

In [41]:
hash('string'), hash((1, 2, (2, 3)))

(81827592110033030, 1097636502276347782)

In [42]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: ignored

To use a list as a key, one option is to convert it to a tuple, which can be hashed as
long as its elements also can:

In [43]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### set
A set is an unordered collection of unique elements. You can think of them like dicts,
but keys only, no values. A set can be created in two ways: via the set function or via
a set literal with curly braces:

In [44]:
set([2, 2, 2, 1, 3, 3]), {2, 2, 2, 1, 3, 3}

({1, 2, 3}, {1, 2, 3})

Sets support mathematical set operations like union, intersection, difference, and
symmetric difference. Consider these two example sets:

In [0]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

The union of these two sets is the set of distinct elements occurring in either set. This
can be computed with either the union method or the | binary operator:

In [47]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

The intersection contains the elements occurring in both sets. The & operator or the
intersection method can be used:

In [49]:
a.intersection(b), a & b

({3, 4, 5}, {3, 4, 5})

###Table 3-1. Python set operations
>```
Function | Alternative syntax | Description
--- | ---
a.add(x) | N/A | Add element x to the set a
a.clear() | N/A | Reset the set a to an empty state, discarding all of its elements
a.remove(x) | N/A | Remove element x from the set a
a.pop() | N/A | Remove an arbitrary element from the set a, raising KeyError if the set is empty
a.union(b) | a (vertical bar) b | All of the unique elements in a and b
a.update(b) | a (vertical bar)= b  |Set the contents of a to be the union of theelements in a and b
a.intersection(b) | a & b | All of the elements in both a and b
a.intersection_update(b) | a &= b | Set the contents of a to be the intersection of the elements in a and b
a.difference(b) | a - b | The elements in a that are not in b
a.difference_update(b) | a -= b | Set a to the elements in a that are not in b
a.symmetric_difference(b) | a ^ b | All of the elements in either a or b but not both
a.symmetric_difference_update(b) | a ^= b | Set a to contain the elements in either a or b but not both
a.issubset(b) | N/A | True if the elements of a are all contained in b
a.issuperset(b) | N/A | True if the elements of b are all contained in a
a.isdisjoint(b) | N/A | True if a and b have no elements in common

All of the logical set operations have in-place counterparts, which enable you to
replace the contents of the set on the left side of the operation with the result. For
very large sets, this may be more efficient:

In [50]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
d = a.copy()
d &= b
d

{3, 4, 5}

Like dicts, set elements generally must be immutable. To have list-like elements, you
must convert it to a tuple:

In [52]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

You can also check if a set is a subset of (is contained in) or a superset of (contains all
elements of) another set:

In [53]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

Sets are equal if and only if their contents are equal:

In [54]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions
List comprehensions are one of the most-loved Python language features. They allow
you to concisely form a new list by filtering the elements of a collection, transforming
the elements passing the filter in one concise expression. They take the basic form:

[expr for val in collection if condition]

This is equivalent to the following for loop:

result = []

for val in collection:

    if condition:
        result.append(expr)
        
The filter condition can be omitted, leaving only the expression. For example, given a
list of strings, we could filter out strings with length 2 or less and also convert them to
uppercase like this:

In [55]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

Set and dict comprehensions are a natural extension, producing sets and dicts in an
idiomatically similar way instead of lists. A dict comprehension looks like this:

dict_comp = {key-expr : value-expr for value in collection if condition}

A set comprehension looks like the equivalent list comprehension except with curly
braces instead of square brackets:

set_comp = {expr for value in collection if condition}

In [56]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

We could also express this more functionally using the map function, introduced
shortly:

In [57]:
set(map(len, strings))

{1, 2, 3, 4, 6}

As a simple dict comprehension example, we could create a lookup map of these
strings to their locations in the list:

In [58]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions
Suppose we have a list of lists containing some English and Spanish names:

In [0]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

You might have gotten these names from a couple of files and decided to organize
them by language. Now, suppose we wanted to get a single list containing all names
with two or more e’s in them. We could certainly do this with a simple for loop:

names_of_interest = []

for names in all_data:

    enough_es = [name for name in names if name.count('e') >= 2]
    
    names_of_interest.extend(enough_es)
    
You can actually wrap this whole operation up in a single nested list comprehension,
which will look like:

In [60]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

At first, nested list comprehensions are a bit hard to wrap your head around. The for
parts of the list comprehension are arranged according to the order of nesting, and
any filter condition is put at the end as before. Here is another example where we
“flatten” a list of tuples of integers into a simple list of integers:

In [61]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Keep in mind that the order of the for expressions would be the same if you wrote a
nested for loop instead of a list comprehension:

flattened = []

for tup in some_tuples:

    for x in tup:
        flattened.append(x)

You can have arbitrarily many levels of nesting, though if you have more than two or
three levels of nesting you should probably start to question whether this makes sense
from a code readability standpoint. It’s important to distinguish the syntax just shown
from a list comprehension inside a list comprehension, which is also perfectly valid:

In [0]:
[[x for x in tup] for tup in some_tuples]

This produces a list of lists, rather than a flattened list of all of the inner elements.

## 3.2 Functions

def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

### Namespaces, Scope, and Local Functions

def func():
    a = []
    for i in range(5):
        a.append(i)

a = []
def func():
    for i in range(5):
        a.append(i)

In [0]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

### Returning Multiple Values

def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

return_value = f()

def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions Are Objects

In [0]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [0]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [0]:
clean_strings(states)

In [0]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [0]:
clean_strings(states, clean_ops)

In [0]:
for x in map(remove_punctuation, states):
    print(x)

### Anonymous (Lambda) Functions

def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

In [0]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [0]:
strings.sort(key=lambda x: len(set(list(x))))
strings

### Currying: Partial Argument Application

def add_numbers(x, y):
    return x + y

add_five = lambda y: add_numbers(5, y)

from functools import partial
add_five = partial(add_numbers, 5)

### Generators

In [0]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

In [0]:
dict_iterator = iter(some_dict)
dict_iterator

In [0]:
list(dict_iterator)

In [0]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [0]:
gen = squares()
gen

In [0]:
for x in gen:
    print(x, end=' ')

#### Generator expresssions

In [0]:
gen = (x ** 2 for x in range(100))
gen

def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [0]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

#### itertools module

In [0]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

### Errors and Exception Handling

In [0]:
float('1.2345')
float('something')

In [0]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [0]:
attempt_float('1.2345')
attempt_float('something')

In [0]:
float((1, 2))

In [0]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [0]:
attempt_float((1, 2))

In [0]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

#### Exceptions in IPython

In [10]: %run examples/ipython_bug.py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/home/wesm/code/pydata-book/examples/ipython_bug.py in <module>()
     13     throws_an_exception()
     14
---> 15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in calling_things()
     11 def calling_things():
     12     works_fine()
---> 13     throws_an_exception()
     14
     15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in throws_an_exception()
      7     a = 5
      8     b = 6
----> 9     assert(a + b == 10)
     10
     11 def calling_things():

AssertionError:

## Files and the Operating System

In [0]:
%pushd book-materials

In [0]:
path = 'examples/segismundo.txt'
f = open(path)

for line in f:
    pass

In [0]:
lines = [x.rstrip() for x in open(path)]
lines

In [0]:
f.close()

In [0]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [0]:
f = open(path)
f.read(10)
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

In [0]:
f.tell()
f2.tell()

In [0]:
import sys
sys.getdefaultencoding()

In [0]:
f.seek(3)
f.read(1)

In [0]:
f.close()
f2.close()

In [0]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

In [0]:
import os
os.remove('tmp.txt')

### Bytes and Unicode with Files

In [0]:
with open(path) as f:
    chars = f.read(10)
chars

In [0]:
with open(path, 'rb') as f:
    data = f.read(10)
data

In [0]:
data.decode('utf8')
data[:4].decode('utf8')

In [0]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

In [0]:
os.remove(sink_path)

In [0]:
f = open(path)
f.read(5)
f.seek(4)
f.read(1)
f.close()

In [0]:
%popd

## Conclusion